/* SPEC: specs/renderer/progress-bar.md */

.progress-bar-container {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  inset-inline-start: 0;
  background-color: var(--background-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: var(--safe-area-inset-left);
  padding-right: var(--safe-area-inset-right);
  z-index: 10000;
}

.progress-bar {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--size-4-2);
  width: 100%;
}

.progress-bar-context {
  position: absolute;
  top: 100%;
  font-size: var(--font-ui-small);
  border-radius: 50px;
  padding: var(--size-4-2) var(--size-4-6);
}

.progress-bar-button-container {
  display: flex;
  flex-direction: column;
  gap: var(--size-4-2);
}

.progress-bar-message {
  margin-bottom: var(--size-4-8);
  opacity: 1;
  color: var(--text-muted);
}

.progress-bar-indicator {
  position: relative;
  height: 8px;
  margin: 0 10vw;
  width: 90vw;
  overflow-x: hidden;
  border-radius: 3px;
}

.progress-bar-line {
  position: absolute;
  opacity: 0.4;
  background-color: var(--interactive-accent);
  width: 150%;
  height: 8px;
}

.progress-bar-subline {
  position: absolute;
  background-color: var(--interactive-accent);
  height: 8px;
  width: 100%;
  transform-origin: left center;
}

.progress-bar-subline.mod-increase {
  animation: increase 2s infinite;
}

.progress-bar-subline.mod-decrease {
  animation: decrease 2s 0.5s infinite;
}

.progress-bar .progress-bar-subline {
  transition: transform 150ms ease-in-out;
}
