/* SPEC: specs/renderer/slider.md */

input[type="range"] {
  width: 100px;
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--slider-track-background);
  border-radius: var(--slider-track-height);
  height: var(--slider-track-height);
  padding: 0;
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  background-color: var(--slider-track-background);
  border-radius: var(--slider-track-height);
  height: var(--slider-track-height);
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: var(--slider-thumb-height);
  width: var(--slider-thumb-width);
  border-radius: var(--slider-thumb-radius);
  cursor: default;
  background: #fff;
  border: var(--slider-thumb-border-width) solid var(--slider-thumb-border-color);
  position: relative;
  top: var(--slider-thumb-y);
  transition: all 0.1s linear;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 0.05), 0 2px 2px 0 rgb(0 0 0 / 0.1);
}

input[type="range"]::-webkit-slider-thumb:hover,
input[type="range"]::-webkit-slider-thumb:active {
  background: #fff;
  border-color: var(--background-modifier-border-focus);
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.1), 0 2px 3px 0 rgb(0 0 0 / 0.2);
  transition: all 0.1s linear;
}

body:not(.is-mobile) input[type="range"]:focus-visible::-webkit-slider-thumb {
  border-color: var(--background-modifier-border-focus);
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05), 0 2px 3px 0 rgb(0 0 0 / 0.2), 0 0 0 2px
    var(--background-modifier-border-focus);
}

.graph-controls input[type="range"] {
  width: 100%;
}
